# Компилированные бинарные файлы
compressor
test_*
*.o
*.a

# Исключение для папки с тестами
!tests/* 

# CUDA промежуточные файлы
*.cu.c
*.cu.cpp
*.cubin
*.ptx
*.linkinfo

# Бэкапы, временные файлы
*~
*.swp
*.tmp

# Файлы данных (сгенерированные)
data/output.bin
data/restored.txt

# Логи, дампы, профилировка
*.log
*.trace
*.nvvp

# VS Code
.vscode/
